.container {
    background-color: #F4F5F7;
    width: 100%;
    display: flex;
    justify-content: space-between;    
}
.container ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}
.container * {
    text-decoration: none;
}