.sideNavbarContainer{
    background-color: #F4F5F7;
    height: 100vh;
    flex: 0 1 15%;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.logo {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.navs{
    justify-content: center;
    color: seagreen;
}
.navs ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.navs .navLinks {
    text-decoration: none;
}
.navs ul {
    
}