


.container {
    padding-inline: 1rem;    
}
.title {
    padding: 1rem;
}
.form {
    display: flex;
    justify-content: space-around;
}
.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.button{
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    align-self: center;
}