


.container {
    padding-inline: 1rem;    
}
.title {
    padding: 1rem;
}
.form {
    display: flex;
    justify-content: space-around;
}
.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.button{
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    align-self: center;
    cursor: pointer;
}

.styledtable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styledtable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styledtable th,
.styledtable td {
    padding: 12px 15px;
}
.styledtable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styledtable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styledtable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styledtable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}